include README.md
include pyproject.toml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.pth *.pt
prune .vscode
prune *.egg-info
prune ~
global-exclude .DS_Store
global-exclude *.DS_Store
global-exclude *.csv
global-exclude *.jpeg